.sco-up {
  padding: 2rem 2rem 2rem 2rem;
  background-color: #1a56db;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
}
.sco-up-text1 {
  font-weight: bold;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 50px;

  padding: 70px 70px 60px 60px;
}

.sco-up-text2 {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto 20px;
  color: #ffffff;
}
.fe-box2-sco {
    background-color: var(--white);
    border-radius: 8px;
    padding: 15px;
    padding-left: 2rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 23vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
.box-image-sco {
    height: 180px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    color: #555;
    font-size: 16px;
    width: 20rem;
  }